<div class="column-layout figma-design-translated_image_en-1png">
  <div class="row-layout root">
    <div class="column-layout group">
      <div class="row-layout group_1">
        <div class="column-layout groups">
          <div class="row-layout text">
            <img src="/assets/a743dd9fe729cc65ad7d23ce4d4eb7d83dea06ae.png" class="image_1" />
            <p class="all-levels">
              All levels
            </p>
            <img src="/assets/1ffa46f03be6d046b90e867db9230400ada560a9.png" class="image_2" />
          </div>
        </div>
        <div class="column-layout groups_1">
          <div class="row-layout button">
            <div class="background"></div>
          </div>
        </div>
      </div>
      <div class="row-layout groups_2">
        <div class="row-layout background_1">
          <div class="row-layout image">
            <p class="agree">
              agree
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
