<div class="column-layout figma-design-translated_image_enpng">
  <div class="row-layout root">
    <img src="/assets/3c3e1246077a3f4eaab15d5a99ac244c8df9488c.png" class="background_7" />
    <div class="column-layout group">
      <div class="row-layout groups">
        <div class="row-layout background">
          <img src="/assets/b3b981db4ea4e230304c5ac757bbda7c00a1f545.png" class="image" />
          <p class="information-abou">
            Information about the exam
          </p>
          <img src="/assets/441ce82ba9ee6f48a9f2eba1c7436235ac9740d5.png" class="image_1" />
        </div>
      </div>
      <div class="row-layout group_1">
        <div class="column-layout groups_1">
          <img src="/assets/c57d26ba18b55e2e618fddbc541285e84851f39e.png" class="image_2" />
        </div>
        <div class="background_1"></div>
        <div class="column-layout groups_2">
          <p class="exam">
            Exam:
          </p>
          <div class="row-layout groups_3">
            <div class="row-layout background_2">
              <img src="/assets/95033b811dd9d03590a781cd5ccd3f407f3726c9.png" class="image_3" />
            </div>
            <img src="/assets/f46deed9bd42ff972fcfc1e2843ad188a870aac7.png" class="image_4" />
            <p class="turn">
              turn
            </p>
          </div>
          <div class="row-layout groups_4">
            <div class="row-layout background_3">
              <img src="/assets/7a465618aceb73581797055e067700403e738d42.png" class="image_5" />
            </div>
            <p class="text">
              1
            </p>
            <p class="the-goal">
              the goal
            </p>
          </div>
        </div>
        <div class="column-layout groups_5">
          <div class="column-layout background_4">
            <img src="/assets/c27146ab17930a0ddc8caddcf5c2fcf1ebb11b04.png" class="image_6" />
          </div>
        </div>
        <div class="column-layout groups_6">
          <div class="column-layout background_5">
            <p class="information-abou_1">
              Information about the exam
            </p>
          </div>
        </div>
        <div class="background_6"></div>
      </div>
    </div>
  </div>
</div>
