<div class="column-layout figma-design-translated_image_en-1png">
  <div class="row-layout root">
    <div class="image"></div>
    <div class="image_1"></div>
    <div class="column-layout group">
      <div class="column-layout image_2">
        <p class="calling-for-the">
          Calling for the regional unified exam for the July 2022 session
        </p>
      </div>
      <img src="/assets/3d69f321a5c1feb3efc23e21a3027f28a683ac07.png" class="image_3" />
      <div class="background"></div>
      <div class="row-layout group_1">
        <div class="column-layout button">
          <div class="column-layout background_1">
            <p class="d141031248">
              D141031248
            </p>
          </div>
        </div>
        <div class="column-layout button_1">
          <div class="column-layout background_2">
            <p class="text">
              06-12-2005
            </p>
          </div>
        </div>
        <div class="column-layout button_2">
          <div class="column-layout background_3">
            <p class="bisain-abdul-ra">
              Bisa'in Abdul Rahim
            </p>
          </div>
        </div>
      </div>
      <div class="column-layout groups">
        <div class="row-layout group_2">
          <div class="row-layout group_3">
            <p class="duration">
              Duration
            </p>
          </div>
          <div class="row-layout group_4">
            <p class="to">
              to
            </p>
            <p class="from">
              from
            </p>
          </div>
          <div class="row-layout group_5">
            <p class="article">
              Article
            </p>
          </div>
          <div class="row-layout group_6">
            <p class="procedure-date">
              Procedure date
            </p>
            <p class="period">
              Period
            </p>
            <p class="today">
              today
            </p>
          </div>
        </div>
        <div class="row-layout group_7">
          <div class="row-layout group_8">
            <p class="h">
              2h
            </p>
            <p class="text_1">
              10:00
            </p>
            <p class="text_2">
              8:00
            </p>
          </div>
          <div class="row-layout group_9">
            <p class="arabic">
              Arabic
            </p>
          </div>
          <div class="row-layout group_10">
            <p class="text_3">
              01/07/2024
            </p>
            <p class="morning">
              Morning
            </p>
            <p class="the-first">
              the first
            </p>
          </div>
        </div>
        <div class="row-layout group_11">
          <p class="h15m">
            1h15m
          </p>
          <p class="text_4">
            11:45
          </p>
          <p class="text_5">
            10:30
          </p>
          <p class="social-studies">
            Social studies
          </p>
          <p class="text_6">
            01/07/2024
          </p>
          <p class="morning_1">
            Morning
          </p>
          <p class="the-first_1">
            the first
          </p>
        </div>
        <div class="row-layout group_12">
          <div class="row-layout group_13">
            <img src="/assets/adb0db339ffc957986b0c9f3540df89625049828.png" class="image_4" />
            <p class="text_7">
              17:00
            </p>
            <p class="text_8">
              15:00
            </p>
            <p class="french">
              French
            </p>
          </div>
          <div class="row-layout group_14">
            <p class="text_9">
              01/07/2024
            </p>
            <p class="evening">
              Evening
            </p>
            <p class="the-first_2">
              the first
            </p>
          </div>
        </div>
        <div class="row-layout group_15">
          <img src="/assets/e9579d2a6278d53690cac6ec5031f680d96911aa.png" class="image_5" />
          <p class="text_10">
            18.30
          </p>
          <p class="text_11">
            17.30
          </p>
          <p class="lslamic-educatio">
            lslamic education
          </p>
          <p class="text_12">
            01/07/2024
          </p>
          <p class="evening_1">
            Evening
          </p>
          <p class="the-first_3">
            the first
          </p>
        </div>
        <div class="row-layout group_16">
          <div class="row-layout group_17">
            <p class="h_1">
              2h
            </p>
            <p class="text_13">
              10.00
            </p>
            <p class="text_14">
              8.00
            </p>
            <p class="mathematics">
              mathematics
            </p>
          </div>
          <div class="row-layout group_18">
            <p class="text_15">
              02/07/2024
            </p>
            <p class="morning_2">
              Morning
            </p>
            <p class="the-second">
              the second
            </p>
          </div>
        </div>
        <div class="row-layout group_19">
          <img src="/assets/68a7dd8a323ac87152920a7a90f7eb6eb04f8cb5.png" class="image_6" />
          <p class="text_16">
            11.30
          </p>
          <p class="text_17">
            10.30
          </p>
          <p class="physical-science">
            Physical sciences
          </p>
          <p class="text_18">
            02/07/2024
          </p>
          <p class="morning_3">
            Morning
          </p>
          <p class="the-second_1">
            the second
          </p>
        </div>
        <div class="row-layout group_20">
          <img src="/assets/81dabccd3024e391bade2b98918872ff6b4d2512.png" class="image_6" />
          <p class="text_19">
            16.00
          </p>
          <p class="text_20">
            15.00
          </p>
          <p class="life-and-earths">
            Life and earth,sciences
          </p>
          <p class="text_21">
            02/07/2024
          </p>
          <p class="evening_2">
            Evening
          </p>
          <p class="the-second_2">
            the second
          </p>
        </div>
        <div class="row-layout group_21">
          <img src="/assets/d3c58e1abcde73fe1fdcd48213065c479a491988.png" class="image_7" />
          <img src="/assets/ff99b2232eca35978cbda4a39f3143b96cce39e9.png" class="image_8" />
        </div>
        <div class="row-layout group_22">
          <div class="column-layout groups_1">
            <div class="row-layout group_23">
              <div class="column-layout group_24">
                <div class="column-layout group_25">
                  <p class="the-candidate-must-come-to-the-exam-center-half-an-hour-before">
                    The candidate must come to the exam center half an hour before
                  </p>
                  <p class="the-procedure-he-must-bring-all-the-permitted-supplies-for-passing-the-exam">
                    the procedure. He must bring all the permitted supplies for passing the exam
                  </p>
                </div>
                <div class="column-layout group_26">
                  <p class="the-procedure-he-must-bring-all-the-permitted-supplies-for-passing-the-exam_1">
                    the procedure. He must bring all the permitted supplies for passing the exam
                  </p>
                  <p class="pens-ruler">
                    (pens, ruler..)
                  </p>
                </div>
              </div>
              <div class="column-layout group_27">
                <img src="/assets/08c87f20c088417957ae61352b4bbd74aec52a2b.png" class="background_9" />
                <img src="/assets/98508f8768c1751fe838b9111ce7439ded89c3d5.png" class="background_10" />
              </div>
            </div>
            <div class="row-layout group_28">
              <img src="/assets/cfbe916d95a8b5a645a48ae51860c59f31f7363a.png" class="background_11" />
              <div class="column-layout group_29">
                <p class="it-is-strictly-prohibited-to-bring-and-use-digital-machines-and-audio-tools-phone-tablet">
                  It is strictly prohibited to bring and use digital machines and audio tools (phone, tablet).
                </p>
                <p class="electronic-headphones-the">
                  Electronic headphones...) The
                </p>
              </div>
            </div>
            <div class="row-layout group_30">
              <img src="/assets/a2b4991a3b7a46cc85e7fbaf6e4932d853b939c1.png" class="background_12" />
              <div class="column-layout group_31">
                <p class="exam-paper-wil-be-withdrawn-from-every-candidate-who-is-caught-cheating-while-passing-the-exam-and-a">
                  exam paper wil be withdrawn from every candidate who is caught cheating while passing the exam, and a
                </p>
                <p class="exam-paper-wil-be-withdrawn-from-every-candidate-who-is-caught-cheating-while-passing-the-exam-and-a">
                  specific report wil be written against him according to the regulatory model, and he wil not be allowed to take the
                </p>
                <p class="exam-in-other-subjects">
                  exam in other subjects.
                </p>
              </div>
            </div>
          </div>
          <p class="general-directio">
            General directions:
          </p>
        </div>
      </div>
      <div class="row-layout groups_2">
        <div class="row-layout background_4">
          <img src="/assets/9e3bde92d66232333b8c775c4718c24226bc8e06.png" class="image_9" />
          <p class="section">
            Section
          </p>
          <img src="/assets/032c42fe16d0632ecd17796596bd00893db1ff31.png" class="image_10" />
          <img src="/assets/f796e627475d06a5efea32bb41454ffca9044ba3.png" class="image_11" />
        </div>
      </div>
      <p class="candidatedata">
        Candidate.data
      </p>
      <div class="row-layout groups_3">
        <div class="column-layout group_32">
          <div class="column-layout group_33">
            <p class="exam-information">
              Exam information for the candidate:
            </p>
          </div>
          <div class="column-layout group_34">
            <p class="theoriginal-ins">
              The,original institution
            </p>
            <div class="row-layout group_35">
              <div class="row-layout background_5">
                <p class="takadirt-nabbado">
                  Takadirt Nabbado Preparatory High School
                </p>
              </div>
              <p class="exam-center">
                Exam center
              </p>
            </div>
            <div class="row-layout group_36">
              <div class="row-layout background_6">
                <p class="text_22">
                  1-1
                </p>
              </div>
              <p class="hall">
                Hall:
              </p>
            </div>
            <div class="row-layout group_37">
              <p class="exam-number">
                Exam number
              </p>
              <div class="column-layout button_3">
                <div class="column-layout background_7">
                  <p class="text_23">
                    13839
                  </p>
                </div>
              </div>
            </div>
            <div class="row-layout button_4">
              <div class="row-layout background_8">
                <p class="takadirt-nabbado_1">
                  Takadirt Nabbado Preparatory High School
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="column-layout group_38">
          <div class="row-layout group_39">
            <img src="/assets/f1686bbf35970e2a1c70673ced122dee4fe41143.png" class="image_12" />
            <p class="personal-informa">
              Personal information of the candidate
            </p>
          </div>
          <div class="row-layout group_40">
            <div class="column-layout group_41">
              <div class="row-layout groups_4">
                <p class="apic-1">
                  3APIC-1
                </p>
              </div>
              <p class="candidates-full">
                Candidate's full name:
              </p>
            </div>
            <div class="column-layout group_42">
              <p class="date-of-increase">
                Date of increase
              </p>
              <p class="path-symbol">
                Path symbol
              </p>
              <p class="section_1">
                Section:
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
